@model MVC.Models.CourseModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getCourse</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <br /><br />
    <br /><br />
    <div class="container" style="border:1px solid blue; border-radius:15px; padding:30px;">
        <center><h2>Course</h2></center>
        @using (Html.BeginForm("insertCourse", "Course", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(X => X.CID, new { @Value = "ID", @class = "form-label" })
                @Html.TextBoxFor(X => X.CID, new { @class = "form-control", @PlaceHolder = "ID" })
            </div>

            <br /><br />

            <div class="form-group">
                @Html.LabelFor(X => X.CName, new { @Value = "Name", @class = "form-label" })
                @Html.TextBoxFor(X => X.CName, new { @class = "form-control", @PlaceHolder = "Name" })
            </div>

            <br /><br />

            <div class="form-group">
                @Html.LabelFor(X => X.CDuration, new { @Value = "Duration", @class = "form-label" })
                @Html.TextBoxFor(X => X.CDuration, new { @class = "form-control", @PlaceHolder = "Duration" })
            </div>

            <br /><br />

            <div class="form-group">
                @Html.LabelFor(X => X.CFees, new { @Value = "Fees", @class = "form-label" })
                @Html.TextBoxFor(X => X.CFees, new { @class = "form-control", @PlaceHolder = "Fees" })
            </div>

            <br /><br />

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
    </div>
    <br /><br />
    <div class="container">
        <table style="border-radius:15px;" class="table table-bordered table-hover">
            <colgroup>
                <col style="width: 20%;" />
                <col style="width: 20%;" />
                <col style="width: 20%;" />
                <col style="width: 20%;" />
                <col style="width: 20%;" />
            </colgroup>
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Fees</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var CS in ViewBag.Course)
                {
                    <tr>
                        <td>@CS.CID</td>
                        <td>@CS.CName</td>
                        <td>@CS.CDuration</td>
                        <td>@CS.CFees</td>
                        <td>
                            <div class="d-flex">
                                @using (Html.BeginForm("deleteCourse", "Course", FormMethod.Post))
                                {
                                    @Html.HiddenFor(X => X.CID, new { @Value = @CS.CID })

                                    <button type="submit" class="btn btn-danger">Delete</button>
                                }

                                &nbsp;&nbsp;&nbsp;

                                <button type="button" class="btn btn-warning" onclick="populateFields('@CS.CID')">Update</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        function populateFields(CID)
        {
            // AJAX request to fetch employee details
            fetch(`/Course/getCourseByID?CID=${CID}`)
                .then(response => response.json())
                .then(data => {
                    // Populate form fields with fetched data
                    document.getElementById('CID').value = data.CID;
                    document.getElementById('CName').value = data.CName;
                    document.getElementById('CDuration').value = data.CDuration;
                    document.getElementById('CFees').value = data.CFees;
                }).catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
