
@{
    Layout = null;
}
@model DAL.Models.PlayerModel 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getPlayer</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>

    <div class="container">

       @using (Html.BeginForm("insertPlayer", "Player", FormMethod.Post))
        {
            <div class="form-group">
                @Html.TextBoxFor(X => X.PlayerID, new { @class = "form-control", @id = "ID", @Placeholder = "ID" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(X => X.PlayerName, new { @class = "form-control", @id = "Name", @Placeholder = "Name" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(X => X.PlayerDept, new { @class = "form-control", @id = "Dept", @Placeholder = "Dept" })
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
        }

    </div>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
               @foreach (var Player in ViewBag.PlayerList)
                {
                    <tr>
                        <td>@Player.PlayerID</td>
                        <td>@Player.PlayerName</td>
                        <td>@Player.PlayerDept</td>
                        <td>
                            <div class="d-flex">

                                @using (Html.BeginForm("deletePlayer", "Player", FormMethod.Post))
                                {
                                    @Html.HiddenFor(X => X.PlayerID, new { @Value = @Player.PlayerID })
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                }

                                &nbsp;&nbsp;&nbsp;
                                <button class="btn btn-warning" onclick="populateFields('@Player.PlayerID' , '@Player.PlayerName' , '@Player.PlayerDept')">Update</button>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>

        function populateFields(PlayerID , PlayerName , PlayerDept)
        {
            document.getElementById('ID').value = PlayerID;
            document.getElementById('Name').value = PlayerName;
            document.getElementById('Dept').value = PlayerDept;
        }

    </script>
</body>
</html>
